# **Data from Kaggle in Google Colab using command-line**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!mkdir -p /root/.kaggle/

In [ ]:
!cp "/content/drive/MyDrive/Big Data Lab/kaggle.json" /root/.kaggle/

In [ ]:
!chmod 600 /root/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d nelgiriyewithana/global-youtube-statistics-2023

Downloading global-youtube-statistics-2023.zip to /content
  0% 0.00/60.1k [00:00<?, ?B/s]
100% 60.1k/60.1k [00:00<00:00, 59.3MB/s]

In [ ]:
!unzip global-youtube-statistics-2023.zip

Archive:  global-youtube-statistics-2023.zip
  inflating: Global YouTube Statistics.csv

# **Required pakages of big data**

In [ ]:
#openjdk installation
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Downloading the apche spark with specific version
!wget -q https://dlcdn.apache.org/spark/spark-3.4.1/spark-3.4.1-bin-hadoop3.tgz
#Zip into unzip the apche spark
!tar -xf spark-3.4.1-bin-hadoop3.tgz
#findspark installation
!pip install -q findspark
#Environment setup for the openjdk and spark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.1-bin-hadoop3"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# **Youtube Data Analysis**

In [ ]:
df = spark.read.format('csv').option("header","true").option("inferschema","true").option("mode","failfast").load("/content/Global YouTube Statistics.csv")

In [ ]:
df.printSchema()

root
 |-- rank: integer (nullable = true)
 |-- Youtuber: string (nullable = true)
 |-- subscribers: integer (nullable = true)
 |-- video views: double (nullable = true)
 |-- category: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- uploads: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Abbreviation: string (nullable = true)
 |-- channel_type: string (nullable = true)
 |-- video_views_rank: integer (nullable = true)
 |-- country_rank: string (nullable = true)
 |-- channel_type_rank: string (nullable = true)
 |-- video_views_for_the_last_30_days: string (nullable = true)
 |-- lowest_monthly_earnings: double (nullable = true)
 |-- highest_monthly_earnings: double (nullable = true)
 |-- lowest_yearly_earnings: double (nullable = true)
 |-- highest_yearly_earnings: double (nullable = true)
 |-- subscribers_for_last_30_days: string (nullable = true)
 |-- created_year: string (nullable = true)
 |-- created_month: string (nullable = true)
 |-- created_date: string (nullable = true)
 |-- Gross tertiary education enrollment (%): string (nullable = true)
 |-- Population: string (nullable = true)
 |-- Unemployment rate: string (nullable = true)
 |-- Urban_population: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

In [ ]:
df.createOrReplaceTempView("yt")

In [ ]:
spark.sql("Select * from yt").show()

+----+--------------------+-----------+---------------+----------------+--------------------+-------+--------------+------------+-------------+----------------+------------+-----------------+--------------------------------+-----------------------+------------------------+----------------------+-----------------------+----------------------------+------------+-------------+------------+---------------------------------------+----------+-----------------+----------------+---------+-----------+
|rank|            Youtuber|subscribers|    video views|        category|               Title|uploads|       Country|Abbreviation| channel_type|video_views_rank|country_rank|channel_type_rank|video_views_for_the_last_30_days|lowest_monthly_earnings|highest_monthly_earnings|lowest_yearly_earnings|highest_yearly_earnings|subscribers_for_last_30_days|created_year|created_month|created_date|Gross tertiary education enrollment (%)|Population|Unemployment rate|Urban_population| Latitude|  Longitude|
+----+--------------------+-----------+---------------+----------------+--------------------+-------+--------------+------------+-------------+----------------+------------+-----------------+--------------------------------+-----------------------+------------------------+----------------------+-----------------------+----------------------------+------------+-------------+------------+---------------------------------------+----------+-----------------+----------------+---------+-----------+
|   1|            T-Series|  245000000|        2.28E11|           Music|            T-Series|  20082|         India|          IN|        Music|               1|           1|                1|                      2258000000|               564600.0|               9000000.0|             6800000.0|                1.084E8|                     2000000|        2006|          Mar|          13|                                   28.1|1366417754|             5.36|       471031528|20.593684|   78.96288|
|   2|      YouTube Movies|  170000000|            0.0|Film & Animation|       youtubemovies|      1| United States|          US|        Games|         4055159|        7670|             7423|                              12|                    0.0|                    0.05|                  0.04|                   0.58|                         nan|        2006|          Mar|           5|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|   3|             MrBeast|  166000000| 2.836884187E10|   Entertainment|             MrBeast|    741| United States|          US|Entertainment|              48|           1|                1|                      1348000000|               337000.0|               5400000.0|             4000000.0|                 6.47E7|                     8000000|        2012|          Feb|          20|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|   4|Cocomelon - Nurse...|  162000000|        1.64E11|       Education|Cocomelon - Nurse...|    966| United States|          US|    Education|               2|           2|                1|                      1975000000|               493800.0|               7900000.0|             5900000.0|                 9.48E7|                     1000000|        2006|          Sep|           1|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|   5|           SET India|  159000000|        1.48E11|           Shows|           SET India| 116536|         India|          IN|Entertainment|               3|           2|                2|                      1824000000|               455900.0|               7300000.0|             5500000.0|                 8.75E7|                     1000000|        2006|          Sep|          20|                                   28.1|1366417754|             5.36|       471031528|20.593684|   78.96288|
|   6|               Music|  119000000|            0.0|             nan|               Music|      0|           nan|         nan|        Music|         4057944|         nan|              nan|                             nan|                    0.0|                     0.0|                   0.0|                    0.0|                         nan|        2013|          Sep|          24|                                    nan|       nan|              nan|             nan|      nan|        nan|
|   7| ��� Kids Diana Show|  112000000|9.3247040539E10|  People & Blogs| ��� Kids Diana Show|   1111| United States|          US|Entertainment|               5|           3|                3|                       731674000|               182900.0|               2900000.0|             2200000.0|                 3.51E7|                         nan|        2015|          May|          12|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|   8|           PewDiePie|  111000000|2.9058044447E10|          Gaming|           PewDiePie|   4716|         Japan|          JP|Entertainment|              44|           1|                4|                        39184000|                 9800.0|                156700.0|              117600.0|              1900000.0|                         nan|        2010|          Apr|          29|                                   63.2| 126226568|             2.29|       115782416|36.204824| 138.252924|
|   9|         Like Nastya|  106000000|9.0479060027E10|  People & Blogs|    Like Nastya Vlog|    493|        Russia|          RU|       People|             630|           5|               25|                        48947000|                12200.0|                195800.0|              146800.0|              2300000.0|                      100000|        2016|          Jan|          14|                                   81.9| 144373535|             4.59|       107683889| 61.52401| 105.318756|
|  10|       Vlad and Niki|   98900000|7.7180169894E10|   Entertainment|       Vlad and Niki|    574| United States|          US|Entertainment|               8|           5|                6|                       580574000|               145100.0|               2300000.0|             1700000.0|                 2.79E7|                      600000|        2018|          Apr|          23|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|  11|   Zee Music Company|   96700000|5.7856289381E10|           Music|   Zee Music Company|   8548|         India|          IN|        Music|              12|           3|                2|                       803613000|               200900.0|               3200000.0|             2400000.0|                 3.86E7|                     1100000|        2014|          Mar|          12|                                   28.1|1366417754|             5.36|       471031528|20.593684|   78.96288|
|  12|                 WWE|   96000000|7.7428473662E10|          Sports|                 WWE|  70127| United States|          US|       Sports|               7|           6|                1|                       714614000|               178700.0|               2900000.0|             2100000.0|                 3.43E7|                      600000|        2007|          May|          11|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|  13|              Gaming|   93600000|            0.0|             nan|              Gaming|      0|           nan|         nan|        Games|         4057944|         nan|                1|                             nan|                    0.0|                     0.0|                   0.0|                    0.0|                         nan|        2013|          Dec|          15|                                    nan|       nan|              nan|             nan|      nan|        nan|
|  14|           BLACKPINK|   89800000|3.2144597566E10|  People & Blogs|           BLACKPINK|    543|   South Korea|          KR|        Music|              32|           1|                3|                       498930000|               124700.0|               2000000.0|             1500000.0|                 2.39E7|                      700000|        2016|          Jun|          29|                                   94.3|  51709098|             4.15|        42106719|35.907757| 127.766922|
|  15|           Goldmines|   86900000| 2.411823058E10|Film & Animation|           goldmines|      1|           nan|         nan|        Music|         4056562|         nan|             5663|                              18|                    0.0|                    0.07|                  0.05|                   0.86|                         nan|        2006|          Aug|          15|                                    nan|       nan|              nan|             nan|      nan|        nan|
|  16|            Sony SAB|   83000000|        1.01E11|           Shows|            Sony SAB|  71270|         India|          IN|Entertainment|               4|           5|                7|                      1657000000|               414300.0|               6600000.0|             5000000.0|                 7.96E7|                     1100000|        2007|          Aug|           4|                                   28.1|1366417754|             5.36|       471031528|20.593684|   78.96288|
|  17|     5-Minute Crafts|   80100000|2.6236790209E10|   Howto & Style| 5-Minute Crafts 2.0|      1|United Kingdom|          GB|Entertainment|         4057901|        4797|             6781|                               1|                    0.0|                     0.0|                   0.0|                   0.05|                         nan|        2020|          Jul|          27|                                     60|  66834405|             3.85|        55908316|55.378051|  -3.435973|
|  18|           BANGTANTV|   75600000|2.0826993957E10|           Music|           BANGTANTV|   2281|   South Korea|          KR|        Music|             112|           2|                4|                       168290000|                42100.0|                673200.0|              504900.0|              8100000.0|                      400000|        2012|          Dec|          17|                                   94.3|  51709098|             4.15|        42106719|35.907757| 127.766922|
|  19|              Sports|   75000000|            0.0|             nan|              sports|      3| United States|          US|Entertainment|         3898122|        6266|             5395|                              16|                    0.0|                    0.06|                  0.05|                   0.77|                         nan|        2006|          Jan|          30|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|  20|       Justin Bieber|   71600000|3.0608119724E10|           Music|       Justin Bieber|    249|        Canada|          CA|        Music|              38|           1|                6|                       176326000|                44100.0|                705300.0|              529000.0|              8500000.0|                      100000|        2007|          Jan|          15|                                   68.9|  36991981|             5.56|        30628482|56.130366|-106.346771|
+----+--------------------+-----------+---------------+----------------+--------------------+-------+--------------+------------+-------------+----------------+------------+-----------------+--------------------------------+-----------------------+------------------------+----------------------+-----------------------+----------------------------+------------+-------------+------------+---------------------------------------+----------+-----------------+----------------+---------+-----------+
only showing top 20 rows

In [ ]:
spark.sql("Select count(*) from yt").show()

+--------+
|count(1)|
+--------+
|     995|
+--------+

**Q1: What is the maximum number of YouTube subscribers according to the channel and the name of the channel**

In [ ]:
spark.sql("SELECT MAX(subscribers) AS max_subscribers FROM yt").show()

+---------------+
|max_subscribers|
+---------------+
|      245000000|
+---------------+

In [ ]:
spark.sql("SELECT Youtuber FROM yt WHERE subscribers = (SELECT MAX(subscribers) FROM yt)").show()

+--------+
|Youtuber|
+--------+
|T-Series|
+--------+

**Q2: What is the minimum number of YouTube subscribers according to the channel and the name of the channel**

In [ ]:
spark.sql("SELECT MIN(subscribers) AS min_subscribers FROM yt").show()

+---------------+
|min_subscribers|
+---------------+
|       12300000|
+---------------+

In [ ]:
spark.sql("SELECT Youtuber FROM yt WHERE subscribers = (SELECT MIN(subscribers) FROM yt)").show()

+--------------------+
|            Youtuber|
+--------------------+
|        Natan por A�|
|Free Fire India O...|
|               Panda|
|         RobTopGames|
|        Make Joke Of|
+--------------------+

**Q3: Find out the total number of views of a particular channel according to its name**

In [ ]:
spark.sql("SELECT `video views` FROM yt WHERE Youtuber = 'WWE'").show()

+---------------+
|    video views|
+---------------+
|7.7428473662E10|
+---------------+

In [ ]:
spark.sql("SELECT `video views` FROM yt WHERE Youtuber = 'RobTopGames'").show()

+------------+
| video views|
+------------+
|3.74123483E8|
+------------+

In [ ]:
spark.sql("SELECT `video views` FROM yt WHERE Youtuber = 'T-Series'").show()

+-----------+
|video views|
+-----------+
|    2.28E11|
+-----------+

**Q4: Total number of unique category channels on youtube**

In [ ]:
spark.sql("SELECT COUNT(DISTINCT category) AS unique_category_count FROM yt").show()

+---------------------+
|unique_category_count|
+---------------------+
|                   19|
+---------------------+

**Q5: Find out which category of videos have the most views on YouTube**

In [ ]:
spark.sql("SELECT category, SUM(`video views`) AS total_video_views FROM yt GROUP BY category ORDER BY total_video_views DESC LIMIT 1").show()

+--------+-----------------+
|category|total_video_views|
+--------+-----------------+
|   Music|3.121477506633E12|
+--------+-----------------+

In [ ]:
spark.sql("SELECT category, SUM(`video views`) AS total_video_views FROM yt GROUP BY category ORDER BY total_video_views DESC LIMIT 5").show()

+--------------+-----------------+
|      category|total_video_views|
+--------------+-----------------+
|         Music|3.121477506633E12|
| Entertainment|2.527739309583E12|
|People & Blogs|1.265791201548E12|
|        Gaming| 7.17638899629E11|
|     Education| 6.96614472899E11|
+--------------+-----------------+

**Q6: Find out which category of videos have the less views on YouTube**

In [ ]:
spark.sql("SELECT category, SUM(`video views`) AS total_video_views FROM yt GROUP BY category ORDER BY total_video_views ASC LIMIT 1").show()

+---------------+-----------------+
|       category|total_video_views|
+---------------+-----------------+
|Travel & Events|     3.14088314E9|
+---------------+-----------------+

In [ ]:
spark.sql("SELECT category, SUM(`video views`) AS total_video_views FROM yt GROUP BY category ORDER BY total_video_views ASC LIMIT 5").show()

+--------------------+-----------------+
|            category|total_video_views|
+--------------------+-----------------+
|     Travel & Events|     3.14088314E9|
|Nonprofits & Acti...|  1.0862911785E10|
|    Autos & Vehicles|  1.5003458141E10|
|              Movies|  1.5383255129E10|
|            Trailers|  3.3262717607E10|
+--------------------+-----------------+

**Q7: Find the title value corresponding to the maximum number of views from the video views column from the title column.**

In [ ]:
spark.sql("SELECT Title FROM yt WHERE `video views` = (SELECT MAX(`video views`) FROM yt)").show()

+--------+
|   Title|
+--------+
|T-Series|
+--------+

**Q8: Find the title value corresponding to the minimum number of views from the video views column from the title column.**

In [ ]:
spark.sql("SELECT Title FROM yt WHERE `video views` = (SELECT MIN(`video views`) FROM yt)").show()

+------------------+
|             Title|
+------------------+
|     youtubemovies|
|             Music|
|            Gaming|
|            sports|
|              News|
|Popular on Youtube|
| Minecraft - Topic|
|              Live|
+------------------+

**Q9: Find out which channel has the maximum video uploaded**

In [ ]:
spark.sql("SELECT Youtuber, uploads FROM yt WHERE uploads = (SELECT MAX(uploads) FROM yt)").show()

+--------+-------+
|Youtuber|uploads|
+--------+-------+
|ABP NEWS| 301308|
+--------+-------+

**Q10: Find out which channel has the minimum video uploaded**

In [ ]:
spark.sql("SELECT Youtuber, uploads FROM yt WHERE uploads = (SELECT MIN(uploads) FROM yt)").show()

+--------------------+-------+
|            Youtuber|uploads|
+--------------------+-------+
|               Music|      0|
|              Gaming|      0|
|         BRIGHT SIDE|      0|
|    Luisito Comunica|      0|
|                News|      0|
|T-Series Apna Punjab|      0|
|          Luis Fonsi|      0|
|       Frost Diamond|      0|
|  Aditya Music India|      0|
|  Sandeep Maheshwari|      0|
|1MILLION Dance St...|      0|
|       Fede Vigevani|      0|
|         Chris Brown|      0|
|            FaZe Rug|      0|
|         Alan Becker|      0|
|                YOLO|      0|
|   Minecraft - Topic|      0|
|         Linkin Park|      0|
|      Family GamesTV|      0|
|    Robin Hood Gamer|      0|
+--------------------+-------+
only showing top 20 rows

**Q11: Total number of videos uploaded to YouTube**

In [ ]:
spark.sql("SELECT SUM(uploads) AS total_uploads FROM yt").show()

+-------------+
|total_uploads|
+-------------+
|      9141190|
+-------------+

In [ ]:
spark.sql("Select * from yt").show()

+----+--------------------+-----------+---------------+----------------+--------------------+-------+--------------+------------+-------------+----------------+------------+-----------------+--------------------------------+-----------------------+------------------------+----------------------+-----------------------+----------------------------+------------+-------------+------------+---------------------------------------+----------+-----------------+----------------+---------+-----------+
|rank|            Youtuber|subscribers|    video views|        category|               Title|uploads|       Country|Abbreviation| channel_type|video_views_rank|country_rank|channel_type_rank|video_views_for_the_last_30_days|lowest_monthly_earnings|highest_monthly_earnings|lowest_yearly_earnings|highest_yearly_earnings|subscribers_for_last_30_days|created_year|created_month|created_date|Gross tertiary education enrollment (%)|Population|Unemployment rate|Urban_population| Latitude|  Longitude|
+----+--------------------+-----------+---------------+----------------+--------------------+-------+--------------+------------+-------------+----------------+------------+-----------------+--------------------------------+-----------------------+------------------------+----------------------+-----------------------+----------------------------+------------+-------------+------------+---------------------------------------+----------+-----------------+----------------+---------+-----------+
|   1|            T-Series|  245000000|        2.28E11|           Music|            T-Series|  20082|         India|          IN|        Music|               1|           1|                1|                      2258000000|               564600.0|               9000000.0|             6800000.0|                1.084E8|                     2000000|        2006|          Mar|          13|                                   28.1|1366417754|             5.36|       471031528|20.593684|   78.96288|
|   2|      YouTube Movies|  170000000|            0.0|Film & Animation|       youtubemovies|      1| United States|          US|        Games|         4055159|        7670|             7423|                              12|                    0.0|                    0.05|                  0.04|                   0.58|                         nan|        2006|          Mar|           5|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|   3|             MrBeast|  166000000| 2.836884187E10|   Entertainment|             MrBeast|    741| United States|          US|Entertainment|              48|           1|                1|                      1348000000|               337000.0|               5400000.0|             4000000.0|                 6.47E7|                     8000000|        2012|          Feb|          20|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|   4|Cocomelon - Nurse...|  162000000|        1.64E11|       Education|Cocomelon - Nurse...|    966| United States|          US|    Education|               2|           2|                1|                      1975000000|               493800.0|               7900000.0|             5900000.0|                 9.48E7|                     1000000|        2006|          Sep|           1|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|   5|           SET India|  159000000|        1.48E11|           Shows|           SET India| 116536|         India|          IN|Entertainment|               3|           2|                2|                      1824000000|               455900.0|               7300000.0|             5500000.0|                 8.75E7|                     1000000|        2006|          Sep|          20|                                   28.1|1366417754|             5.36|       471031528|20.593684|   78.96288|
|   6|               Music|  119000000|            0.0|             nan|               Music|      0|           nan|         nan|        Music|         4057944|         nan|              nan|                             nan|                    0.0|                     0.0|                   0.0|                    0.0|                         nan|        2013|          Sep|          24|                                    nan|       nan|              nan|             nan|      nan|        nan|
|   7| ��� Kids Diana Show|  112000000|9.3247040539E10|  People & Blogs| ��� Kids Diana Show|   1111| United States|          US|Entertainment|               5|           3|                3|                       731674000|               182900.0|               2900000.0|             2200000.0|                 3.51E7|                         nan|        2015|          May|          12|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|   8|           PewDiePie|  111000000|2.9058044447E10|          Gaming|           PewDiePie|   4716|         Japan|          JP|Entertainment|              44|           1|                4|                        39184000|                 9800.0|                156700.0|              117600.0|              1900000.0|                         nan|        2010|          Apr|          29|                                   63.2| 126226568|             2.29|       115782416|36.204824| 138.252924|
|   9|         Like Nastya|  106000000|9.0479060027E10|  People & Blogs|    Like Nastya Vlog|    493|        Russia|          RU|       People|             630|           5|               25|                        48947000|                12200.0|                195800.0|              146800.0|              2300000.0|                      100000|        2016|          Jan|          14|                                   81.9| 144373535|             4.59|       107683889| 61.52401| 105.318756|
|  10|       Vlad and Niki|   98900000|7.7180169894E10|   Entertainment|       Vlad and Niki|    574| United States|          US|Entertainment|               8|           5|                6|                       580574000|               145100.0|               2300000.0|             1700000.0|                 2.79E7|                      600000|        2018|          Apr|          23|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|  11|   Zee Music Company|   96700000|5.7856289381E10|           Music|   Zee Music Company|   8548|         India|          IN|        Music|              12|           3|                2|                       803613000|               200900.0|               3200000.0|             2400000.0|                 3.86E7|                     1100000|        2014|          Mar|          12|                                   28.1|1366417754|             5.36|       471031528|20.593684|   78.96288|
|  12|                 WWE|   96000000|7.7428473662E10|          Sports|                 WWE|  70127| United States|          US|       Sports|               7|           6|                1|                       714614000|               178700.0|               2900000.0|             2100000.0|                 3.43E7|                      600000|        2007|          May|          11|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|  13|              Gaming|   93600000|            0.0|             nan|              Gaming|      0|           nan|         nan|        Games|         4057944|         nan|                1|                             nan|                    0.0|                     0.0|                   0.0|                    0.0|                         nan|        2013|          Dec|          15|                                    nan|       nan|              nan|             nan|      nan|        nan|
|  14|           BLACKPINK|   89800000|3.2144597566E10|  People & Blogs|           BLACKPINK|    543|   South Korea|          KR|        Music|              32|           1|                3|                       498930000|               124700.0|               2000000.0|             1500000.0|                 2.39E7|                      700000|        2016|          Jun|          29|                                   94.3|  51709098|             4.15|        42106719|35.907757| 127.766922|
|  15|           Goldmines|   86900000| 2.411823058E10|Film & Animation|           goldmines|      1|           nan|         nan|        Music|         4056562|         nan|             5663|                              18|                    0.0|                    0.07|                  0.05|                   0.86|                         nan|        2006|          Aug|          15|                                    nan|       nan|              nan|             nan|      nan|        nan|
|  16|            Sony SAB|   83000000|        1.01E11|           Shows|            Sony SAB|  71270|         India|          IN|Entertainment|               4|           5|                7|                      1657000000|               414300.0|               6600000.0|             5000000.0|                 7.96E7|                     1100000|        2007|          Aug|           4|                                   28.1|1366417754|             5.36|       471031528|20.593684|   78.96288|
|  17|     5-Minute Crafts|   80100000|2.6236790209E10|   Howto & Style| 5-Minute Crafts 2.0|      1|United Kingdom|          GB|Entertainment|         4057901|        4797|             6781|                               1|                    0.0|                     0.0|                   0.0|                   0.05|                         nan|        2020|          Jul|          27|                                     60|  66834405|             3.85|        55908316|55.378051|  -3.435973|
|  18|           BANGTANTV|   75600000|2.0826993957E10|           Music|           BANGTANTV|   2281|   South Korea|          KR|        Music|             112|           2|                4|                       168290000|                42100.0|                673200.0|              504900.0|              8100000.0|                      400000|        2012|          Dec|          17|                                   94.3|  51709098|             4.15|        42106719|35.907757| 127.766922|
|  19|              Sports|   75000000|            0.0|             nan|              sports|      3| United States|          US|Entertainment|         3898122|        6266|             5395|                              16|                    0.0|                    0.06|                  0.05|                   0.77|                         nan|        2006|          Jan|          30|                                   88.2| 328239523|             14.7|       270663028| 37.09024| -95.712891|
|  20|       Justin Bieber|   71600000|3.0608119724E10|           Music|       Justin Bieber|    249|        Canada|          CA|        Music|              38|           1|                6|                       176326000|                44100.0|                705300.0|              529000.0|              8500000.0|                      100000|        2007|          Jan|          15|                                   68.9|  36991981|             5.56|        30628482|56.130366|-106.346771|
+----+--------------------+-----------+---------------+----------------+--------------------+-------+--------------+------------+-------------+----------------+------------+-----------------+--------------------------------+-----------------------+------------------------+----------------------+-----------------------+----------------------------+------------+-------------+------------+---------------------------------------+----------+-----------------+----------------+---------+-----------+
only showing top 20 rows

**Q12: Find out number of countries are there channels on YouTube**

In [ ]:
spark.sql("SELECT COUNT(DISTINCT Country) AS unique_country_count FROM yt").show()

+--------------------+
|unique_country_count|
+--------------------+
|                  50|
+--------------------+

**Q13: Which country has the highest number of YouTube channels and the number of channels**

In [ ]:
spark.sql("SELECT Country, COUNT(*) AS count FROM yt GROUP BY Country ORDER BY count DESC LIMIT 1").show()

+-------------+-----+
|      Country|count|
+-------------+-----+
|United States|  313|
+-------------+-----+

**Q14: Which country has the lowest number of YouTube channels and the number of channels**

In [ ]:
spark.sql("SELECT Country, COUNT(*) AS count FROM yt GROUP BY Country ORDER BY count ASC LIMIT 1").show()

+--------+-----+
| Country|count|
+--------+-----+
|Malaysia|    1|
+--------+-----+

**Q15: Total number of unique types of channels on youtube**

In [ ]:
spark.sql("SELECT COUNT(DISTINCT channel_type) AS unique_channel_type_count FROM yt").show()

+-------------------------+
|unique_channel_type_count|
+-------------------------+
|                       15|
+-------------------------+